.grid-movie-container {
    .movie-poster {
        height: 320px;
        max-width: 100%;
    }
    .movie-overview {
        height: 130px;
        overflow: hidden;
        text-align: center;
    }
}

.favorite-icon {
    color: $gray-400;
    cursor: pointer;
    &.active {
        color: orange;
    }
}
span.capitalize {
    text-transform: capitalize;
}